@import "const";
@import "header";

body {
    overflow: hidden;
}

.lineup-teams-container {
    z-index: 1;
}

$lineupHeight: 55%;
@mixin lineup-hidden-props {
    height: 0;
    opacity: 0;
    margin-bottom: $lineupHeight;
}

@mixin lineup-shown-props {
    height: $lineupHeight;
    margin-bottom: 0;
    opacity: 1;
}

.lineup {
    width: 35%;

    @include lineup-hidden-props;

    background-color: rgba($lineupBGColor, 0.8);
    border-radius: $lineupBorderRadius;
    padding: $lineupBorderRadius * 2;

    font-size: $fontSize;

    table {
        tr {
            border-bottom: 1px solid #157380;
            opacity: 0;
            transition: opacity 400ms;
        }

        tr.shown {
            opacity: 1;
        }

        tr th {
            padding-bottom: $height / 3;
        }

        tr:last-child td {
            border: none;
        }
    }
}

.lineup-vs {
    height: auto;
    width: 80px;

    padding: 30px;

    transition: transform 200ms $headerMotionDuration;
    transform: scale(0, 0);
    transform-origin: center;
}

body.shown div.container .lineup-vs {
    transition: transform 200ms 1s;
    transform: scale(1, 1);
}

body.hidden div.container div.lineup {
    animation: lineup-hide;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

body.shown div.container div.lineup {
    @include lineup-hidden-props;

    animation: lineup-show;
    animation-duration: 500ms;
    animation-delay: 500ms;
    animation-fill-mode: forwards;
}

@keyframes lineup-show {
    0% { @include lineup-hidden-props; }

    100% { @include lineup-shown-props;}
}

@keyframes lineup-hide {
    0% { @include lineup-shown-props; }

    99% {
        height: $lineupHeight;
        margin-bottom: 0;
        opacity: 0;
    }

    100% { @include lineup-hidden-props; }
}
