html, body {
    height: 100%;
    width: 100%
}

body {
    /*background-color: transparent;*/
    background-image: url("img/football.jpg");
    background-size: cover;

    display: flex;
    margin: 0;
}

.vcenter-contents {
    height: 100%;
    align-items: center;
}

.hcenter-contents {
    width: 100%;
    justify-content: center;
}

.container {
    padding: 0;
    margin: 0;
    display: flex;
}

.inline {
    display: inline;
}

.row {
    width: auto;
    border: 1px solid blue;
}

.flex-item {
    background-color: tomato;
    padding: 5px;
    width: 20px;
    height: 20px;
    margin: 10px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}
