@import "const";

@mixin score-container-hidden-props {
    height: 0;
    opacity: 0;
}

@mixin score-container-shown-props {
    height: $height;
    opacity: 1;
}

.score-container {
    @include score-container-hidden-props;
    padding-top: 50px;
    line-height: $height;
    font-size: $fontSize;
}

.score {
    background-color: $scoreBG;
    width: $scoreWidth;
    text-align: center;
    box-shadow: 0 5px 2px -2px #757575;
    z-index: 1;
}

.score:before {
    padding-left: $scorePadding * 3;
    padding-right: $scorePadding;
    content: attr(data-team1);
}

.score:after {
    padding-right: $scorePadding * 3;
    padding-left: $scorePadding;
    content: attr(data-team2);
}

.team {
    background-color: $accentColor;
    width: $height * 2;
    text-align: center;
    font-weight: normal;
    font-size: $fontSize - $fontSize/7;
    z-index: 10;
}

.team.left {
    border-top-left-radius: $scoreBorderRadius;
    border-bottom-left-radius: $scoreBorderRadius;
}

.team.right {
    border-top-right-radius: $scoreBorderRadius;
    border-bottom-right-radius: $scoreBorderRadius;
}

.clock {
    z-index: 0;
    position: absolute;
    width: $scoreWidth - $clockInset;

    text-align: center;
    line-height: 0;
    font-size: $clockInset/2;

    // Remove styles from fieldset
    border: none;
    margin: 0;
    padding: 0;

    color: white;

    div {
        opacity: 0;
    }

    // Make it a trapezoid
    // border-top filled by clock-fade-in
    border-top: 0 solid $clockBG;
    border-left: $clockInset/2 solid transparent;
    border-right: $clockInset/2 solid transparent;
}

.clock.shown {
    animation: clock-fade-in $animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    legend {
        animation: legend-fade-in $animationDuration;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

.timelabel {
    text-align: center;
    position: relative;
    top: -33px;
}

.timelabel.shown {
    animation: timelabel-fade-in $animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes timelabel-fade-in {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes timelabel-fade-out {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.clock.hide {
    animation: clock-fade-out $animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    legend {
        animation: legend-fade-out $animationDuration;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }
}

@keyframes clock-fade-in {
    50% {
        border-top: 0 solid $clockBG;
        line-height: 0;
    }
    100% {
        border-top: $clockInset/1.5 solid $clockBG;
        line-height: $clockInset/1.5;
    }
}

@keyframes clock-fade-out {
    0% {
        border-top: $clockInset/1.5 solid $clockBG;
        line-height: $clockInset/1.5;
    }
    50% {
        border-top: 0 solid $clockBG;
        line-height: 0;
    }
}

.score-container.shown {
    animation: score-container-fade-in $animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.score-container.hide {
    animation: score-container-fade-out $animationDuration;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes score-container-fade-in {
    0% {
        @include score-container-hidden-props;
    }
    50% {
        @include score-container-shown-props;
    }
    100% {
        @include score-container-shown-props;
    }
}

@keyframes score-container-fade-out {
    0% {
        @include score-container-shown-props;
    }
    50% {
        @include score-container-shown-props;
    }
    100% {
        @include score-container-hidden-props;
    }
}

body.hidden div.score-container {
    animation: score-container-fade-out;
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
}

body.hidden div.clock {
    animation: clock-fade-out;
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
}

body.hidden div.timelabel {
    animation: timelabel-fade-out;
    animation-duration: $animationDuration;
    animation-fill-mode: forwards;
}
