.score-container {
  height: 0;
  opacity: 0;
  padding-top: 50px;
  line-height: 87.5px;
  font-size: 35px; }

.score {
  background-color: rgba(255, 255, 255, 0.9);
  width: 240px;
  text-align: center;
  box-shadow: 0 5px 2px -2px #757575;
  z-index: 1; }

.score:before {
  padding-left: 60px;
  padding-right: 20px;
  content: attr(data-team1); }

.score:after {
  padding-right: 60px;
  padding-left: 20px;
  content: attr(data-team2); }

.team {
  background-color: #4DD0E1;
  width: 175px;
  text-align: center;
  font-weight: normal;
  font-size: 30px; }

.team.left {
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em; }

.team.right {
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em; }

.clock {
  z-index: 0;
  position: absolute;
  width: 190px;
  text-align: center;
  line-height: 0;
  font-size: 25px;
  border: none;
  margin: 0;
  padding: 0;
  color: white;
  border-top: 0 solid rgba(96, 125, 139, 0.8);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent; }
  .clock div {
    opacity: 0; }

.clock.shown {
  animation: clock-fade-in 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }
  .clock.shown legend {
    animation: legend-fade-in 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }

.timelabel {
  text-align: center;
  position: relative;
  top: -33px; }

.timelabel.shown {
  animation: timelabel-fade-in 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes timelabel-fade-in {
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes timelabel-fade-out {
  0% {
    opacity: 1; }
  50% {
    opacity: 0; } }
.clock.hide {
  animation: clock-fade-out 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }
  .clock.hide legend {
    animation: legend-fade-out 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards; }

@keyframes clock-fade-in {
  50% {
    border-top: 0 solid rgba(96, 125, 139, 0.8);
    line-height: 0; }
  100% {
    border-top: 33.33333px solid rgba(96, 125, 139, 0.8);
    line-height: 33.33333px; } }
@keyframes clock-fade-out {
  0% {
    border-top: 33.33333px solid rgba(96, 125, 139, 0.8);
    line-height: 33.33333px; }
  50% {
    border-top: 0 solid rgba(96, 125, 139, 0.8);
    line-height: 0; } }
.score-container.shown {
  animation: score-container-fade-in 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

.score-container.hide {
  animation: score-container-fade-out 2s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards; }

@keyframes score-container-fade-in {
  0% {
    height: 0;
    opacity: 0; }
  50% {
    height: 87.5px;
    opacity: 1; }
  100% {
    height: 87.5px;
    opacity: 1; } }
@keyframes score-container-fade-out {
  0% {
    height: 87.5px;
    opacity: 1; }
  50% {
    height: 87.5px;
    opacity: 1; }
  100% {
    height: 0;
    opacity: 0; } }
body.hidden div.score-container {
  animation: score-container-fade-out;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

body.hidden div.clock {
  animation: clock-fade-out;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

body.hidden div.timelabel {
  animation: timelabel-fade-out;
  animation-duration: 2s;
  animation-fill-mode: forwards; }

/*# sourceMappingURL=score.css.map */
